.main-page {
    background-color: #F1F4F7;
    min-height: 100vh;
    //width: 100vw;

    .top {
        width: 100%;
        height: 133px;
        border-bottom: inset;
        border-bottom-color: 1px #E6E7E8;

        .left {
            display: block;
            margin-top: 10px auto;
            float: left;
        }

        .left-text {
            font-family: IBM Plex Sans;
            font-size: 40px;
            font-weight: 500;
            line-height: 52px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .main {
        height: calc(100vh - 225px);
        overflow: auto;

        .message {
            display: flex;
            align-items: flex-end;
            margin-bottom: 14px;
            margin-left: 78px;

        }

        .photo {
            display: block;
            width: 45px;
            height: 45px;
            background: #E6E7ED;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .image {
                
                display: flex;
                margin-left: 8px;
                margin-top: 3px;
            }
        }

        .text-bot {
            margin: 0 35px;
            background-color: white;
            padding: 15px;
            border-radius: 12px;
            max-width: 65%;
            clear: both;
            box-shadow: 7px 7px 10px 0px #231F201C;
            word-wrap: break-word;
        }

        .text-option {
            background-color: white;
            padding: 9px 11px;
            clear: both;
        }

        .text-you {
            float: right;
            margin-right: 53px !important;
            margin-left: auto;
            /* flexbox alignment rule */
            background-color: #2484C6;
            float: right;
            color: white;
            padding: 15px;
            border-radius: 12px;
            max-width: 65%;
            clear: both;
            box-shadow: 7px 7px 10px 0px #231F201C;
            word-wrap: break-word;
        }
    }

    .footer {
        .footer-chat {
            width: 100%;
            height: 92px;
            display: flex;
            align-items: center;
            // position: absolute;
            bottom: 0;
            background-color: #F1F4F7;
            border-top: 1px solid #E6E7E8;
        }

        .history {
            color: black;
            background-color: white;
            padding: 11px 11px 11px 11px;
            border-radius: 50px;
            bottom: 26px;
            margin-left: 67px;
            font-size: 14pt;
        }

        .import {
            margin-left: 27px;
        }

        .send-icon {
            margin-left: 24px;
            margin-right: 138px;
        }

        .send-btn {
            border: none;
        }

        .Add-URL {
            display: flex;
            width: 100%;

            .rce-input {
                width: 90%;
                height: 41px;
                min-height: 41px;
                max-height: 75px;
                align-items: center;
                margin-left: 40px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}